body{
	background-color: #C7D7E5 !important;
}

.click-here{
	transition:  0.7s ease !important;
	animation:blinkingText 1s infinite;
	margin-top: 25%;
}

@keyframes blinkingText{
    0%{     color: #000; }
    49%{    color: #000; }
    60%{    color: transparent; }
    99%{    color:transparent;  }
    100%{   color: #000;  }

}
.click-here:hover{
	transform: scale(1.2);
}

h1 {
	color: black;
	font-family: sans-serif;
}
div.alert{
	display:none;
	text-align: left;
	background-color: white;
	height: auto;
	width: 60%;
	display: block;
	margin-left: 20%;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5), 0 6px 20px 0 rgba(0,0,0,0.19);
	transition:  0.7s ease !important;
}
.alert1 {
    justify-content: flex-end;
}